.busquedaresults__Seccion{
    margin: 2%;
    
}

.busqueda__imagen {
    width: 150px;
    height: 150px;
}
.busquedaresults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    text-align: justify;
    color: black;
}
.busquedaresults__card {
    margin: 1px;
    width: 22rem;
    
   
}

.busquedaresults__card h5{
    
        color: black;
        font-weight: bold;
        text-align: center;
        font-size: xx-large;
    
}

.busquedaresults__card p{
    font-size: large;
}

.busquedaresults h2{
    display: flex;
    flex-direction: row;
}