.detalle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    color: black;
    background-color: white;
}

.detalle img{
    margin: 25px;
    width: 30rem;
    border-radius: 5%;

}

.detalle h2 {
    margin-top: 35px;
    font-weight: bolder;
}
.titulo__detalle {
    text-align: center;
    color: white;
    
    padding: 2%;
}

@media screen and (max-width: 1025px) {
    
    .detalle img{
        margin: auto;
        width: 100%;
        border-radius: 5%;
    
    }
}

@media screen and (max-width: 768px) {
    .detalle{
        flex-direction: column;
    }

    .detalle img{
        margin: auto;
        width: 100%;
        border-radius: 5%;
    
    }
}