.item-cart-product {
    /* float: left; */
    display: flex;
    width: 300px;
    border-bottom: 1px solid #ccc;
    
}

.cart-widget {
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
}

.item-cart-product img {
    width: 15%;
    height: 40px;
}

.item-cart-product img + .cart-product__details {
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.item-cart-product .cart-product__details:nth-last-child(2) {
    width: 30%;
    display: flex;
    
}

.cartwidget-product__action {
    
    display: flex;
    align-self: center;
}

.cart-product__details {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1%;
    align-self: center;
}

.container__btn{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

button.btn-delete-all {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: black;
    cursor: pointer;
    border: 1px solid black;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 2px 2px;
    transition: all 0.3s ease;
}

button.btn-delete-all:hover {
    background: white;
    color: black;
}

.dropdown-toggle::after {
    display:none !important;
}

.carritoIcon{
    color: black;
}

.carritoIcon:hover{
    cursor: pointer;
}
.cart-product__buscar{
    align-self: center;
    justify-self: center;
}

.item-cart-search {
    /* float: left; */
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    width: 150px;
    border-bottom: 1px solid #ccc;
    
}

.datopedido__h2{
    margin-top: 50px;
}