/*estilos de mi header */
.corazon {
    width: 10%;
  }
  
  .cabeza {
    background-color: #314ff7;
  }
  
  .cabeza img {
    margin: 2%;
  }
  
  .menudis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-content: flex-end;
  }
  
  .menunav {
    font-weight: bold;
    color: white;
    justify-content: end;
    text-align: end;
  }