.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*estilos de mi header - no pude linkear el correspondiente al componente header*/
.corazon {
  width: 10%;
}

.cabeza {
  background-color: #314ff7;
}

.cabeza img {
  margin: 2%;
}

.menudis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  align-content: flex-end;
}

.menunav {
  font-weight: bold;
  color: white;
  justify-content: end;
  text-align: end;
}
